
.cwtools/.editorconfig
.cwtools/.gitlab-ci.yml
.cwtools/abilities.cwt
.cwtools/common/00_small_types_consolidated.cwt
.cwtools/common/advisortypes.cwt
.cwtools/common/ages.cwt
.cwtools/common/ai_personalities.cwt
.cwtools/common/ancestor_personalities.cwt
.cwtools/common/buildings.cwt
.cwtools/common/casus_belli_and_war_goals.cwt
.cwtools/common/colonial_region.cwt
.cwtools/common/countries_consolidated.cwt
.cwtools/common/cultures.cwt
.cwtools/common/diplomatic_actions.cwt
.cwtools/common/diplomatic_actions_new.cwt
.cwtools/common/disasters.cwt
.cwtools/common/estates.cwt
.cwtools/common/federation_advancements.cwt
.cwtools/common/governments_and_reforms.cwt
.cwtools/common/greatprojects.cwt
.cwtools/common/ideas_and_native_advancements.cwt
.cwtools/common/imperial_incident.cwt
.cwtools/common/imperial_reforms.cwt
.cwtools/common/incidents.cwt
.cwtools/common/institutions.cwt
.cwtools/common/links.cwt
.cwtools/common/modifiers_consolidated.cwt
.cwtools/common/on_actions.cwt
.cwtools/common/opinion_modifiers.cwt
.cwtools/common/parliaments.cwt
.cwtools/common/peace_treaties.cwt
.cwtools/common/personalities.cwt
.cwtools/common/rebel_types.cwt
.cwtools/common/religions_and_related.cwt
.cwtools/common/scripted_functions.cwt
.cwtools/common/scripted_triggers_and_effects.cwt
.cwtools/common/subject_types.cwt
.cwtools/common/technologies.cwt
.cwtools/common/technology_groups.cwt
.cwtools/common/trade_consolidated.cwt
.cwtools/common/unit_types.cwt
.cwtools/customizable_localisation/custom_locs.cwt
.cwtools/cwtools-eu4-config-master.zip
.cwtools/decisions/decisions.cwt
.cwtools/dlc_event_pics.cwt
.cwtools/dlc_metadata/dlc_metadata.cwt
.cwtools/effects.cwt
.cwtools/enums.cwt
.cwtools/events/events.cwt
.cwtools/F# attempt at locs.txt
.cwtools/folders.cwt
.cwtools/gfx/sprite_packs.cwt
.cwtools/gfx/sprite_packsorder.cwt
.cwtools/history/history_consolidated.cwt
.cwtools/interface/sprites.cwt
.cwtools/LICENSE
.cwtools/localisation.cwt
.cwtools/map/ambient_objects_and_terrain.cwt
.cwtools/map/areas_regions_etc.cwt
.cwtools/map/default_map.cwt
.cwtools/map/tiles.cwt
.cwtools/missions/missions.cwt
.cwtools/modifier_rule.cwt
.cwtools/modifiers.cwt
.cwtools/needed things.txt
.cwtools/new/1_28_rules.cwt
.cwtools/new/1_29_rules.cwt
.cwtools/new/1_30_new_features.cwt
.cwtools/new/1_30_rules.cwt
.cwtools/new/useful errors.txt
.cwtools/on actions wip.txt
.cwtools/on_actions.csv
.cwtools/README.md
.cwtools/scope_links.cwt
.cwtools/scopes.cwt
.cwtools/todo stuff.txt
.cwtools/triggers.cwt
.cwtools/variable_enums.cwt
